ul.sdt_menu{
	/*margin-top:6px !important;*/
	clear:both;
	margin-left:6px;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:0.8em;
	width:auto;
	height: auto;
	top: 6px;
	left: 0px;
}

.move{
	/*float:left;
	display: inline-block; */
	display:block;
	cursor:pointer;
	text-decoration:none;
	width:48%;
	height:100px;
	position:absolute;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}


.divdato
{
	display:inline-block;
	float:left;
	padding:10px 20px;
	min-height:10px;
	min-width:40%;
	text-align:left;
}

.datolight
{
	font-size:smaller;
	font-weight:100;
	color:#886A08
}

.int{
	float:left;
	border:none;
	position:absolute;
	width:0;
	height:100px;
	top:0px;
	left:0;
	z-index:100;

}

ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	float: left;
	top:0;
	left:0;
	width:100%;
	height: 100px !important;
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
	z-index:200 !important;
}

ul.sdt_menu li span.sdt_wrap img{
	height: 100px !important;
	width: 100% !important;
	z-index:200 !important;
}


ul.sdt_menu li span.sdt_active{
	position:absolute;
	background:#111;
	top:0px;
	width:100%;
	height:100px;
	left:0px;
	z-index:14;
	float:left;
	border:none;
/*	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;*/
}

div.sdt_box
{
	clear:both;
	position:absolute;
	height:0;
	width:0;
	top:100px;
	left:50%;
	display:block;
	padding-top: 6px;
	background-color: #F3E2A9;
	-mz-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.3);
	z-index: 1000 !important;
	border: solid  #d19405 1px;
	overflow:hidden;
}

.mnu li
{
	position:relative;
	border: solid 0.2em #4c3000;
	
}

ul.mnu 
{
	position:relative;
	line-height: 15px;

}


.mnuli, .mnuli2{
	position: relative;
	margin-left: 15px;
	padding: 0;
	height:auto !important; 
	list-style: none;
}

.nr{

	padding-top: 20px;
}

.mnuli2{
	margin-left: 35px;
	display: none;
	color:#0B75AF;

}

.mnuli2 a{
	text-decoration:underline;
}

.mnuli2 A:link, .mnuli2 A:visited{
	color:#0B75AF;
}

.mnuli2 A:hover{
	color:#fff;
	background-color:#4c3000 !important;
}


#regs{
	color: #4c3000;
}

#regs:hover{
	color:white !important;
	background-color:#4c3000 !important;

}

#flecha{
	font-size: larger;
}

#tododatos{
	padding:0;
	width: 100%;
	background-color: #feeebd;
}

#upanddown{
	position: relative;
	border-radius: 10px;
	margin: 0;
	padding: 0 0 20px 0;
	width: 100% - 4px;
	border: solid #8e846b 1px;
	background-color:  #feeebd;
}

#DivUp, #DivDown{
	position: relative;
	width: 90%;
	/*float: left;*/
	margin:  0 auto;
	font-family: "Trebuchet MS";
	font-size: small;
	margin-left:20px;

}

#DivUp{
	/*background-color: green;*/
	position:relative;
	display:inline-block !important;

}

#DivDown
{
	position:relative;
	/*background-color: red;*/
}

#tabs
{
	position:relative;
	padding:0;	
}


#grillamisregistros
{
	position:relative;
	margin-left:-10px;
}

#imgTitulo
{
	position:relative;
	margin:10px auto;
}

#faqTitle
{
	margin:10px auto;	
}


.preguntaP{
	display: block;
	font-family: Lobster Arial, Helvetica, sans-serif;
	color:#0080FF;
	font-weight: bold;
}

.preguntaR{
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	color:#424242;
	font-weight: normal;
}